app-header {
    position: fixed;
    top: 0;
    z-index: 1000;
}

.page {
    padding: 20px;
    height: calc(100% - 230px);
    margin-top: 60px;
    padding-top: 60px;
    width: 85vw;
    max-width: 1200px;
    margin-left: 120px;
    margin-right: 120px;
}
