<div class="body">
    <div>
        <h1 class='header'> Suki MC Dog </h1>
        <h3 class='subheader'> Welcome to my landing page! </h3>
    </div>
    <div class='content_wrapper'>
        <div class='image_wrapper'>
            <a href='/about'>
                <img src='assets/images/suki.jpeg' alt='suki' width='300' height='300' layout="responsive" />
            </a>
        </div>
    </div>
</div>
<div class="text-clickable arrow" [routerLink]="'/portfolio'"> 
    <span>{{ 'Portfolio '}}</span>
    <img class="icon" width="24" height="24" src="https://img.icons8.com/plumpy/24/double-right.png" alt="double-right"/>
</div>
